<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Django Mongodb Engine Presentation</title>
	
	<meta name="description" content="Django Mongodb Engine Presentation">
	<meta name="author" content="Caleb Troughton">
	<meta name="viewport" content="width=1024, user-scalable=no">
	
	<!-- Core and extension CSS files -->
	<link rel="stylesheet" href="{{ STATIC_URL }}deck/core/deck.core.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}deck/extensions/goto/deck.goto.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}deck/extensions/menu/deck.menu.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}deck/extensions/navigation/deck.navigation.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}deck/extensions/status/deck.status.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}deck/extensions/hash/deck.hash.css">

	<!-- Theme CSS files (menu swaps these out) -->
	<link rel="stylesheet" id="style-theme-link" href="{{ STATIC_URL }}deck/themes/style/web-2.0.css">
	<link rel="stylesheet" id="transition-theme-link" href="{{ STATIC_URL }}deck/themes/transition/horizontal-slide.css">
	
	<!-- Custom CSS just for this page -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/presentation.css">
	
	<script src="{{ STATIC_URL }}js/modernizr.custom.js"></script>
</head>

<body class="deck-container">


{% block slides %}
{% endblock %}

<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

<p class="deck-status">
	<span class="deck-status-current"></span>
	/
	<span class="deck-status-total"></span>
</p>

<form action="." method="get" class="goto-form">
	<label for="goto-slide">Go to slide:</label>
	<input type="number" name="slidenum" id="goto-slide">
	<input type="submit" value="Go">
</form>

<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js">\x3C/script>')</script>

<!-- Deck Core and extensions -->
<script src="{{ STATIC_URL }}deck/core/deck.core.js"></script>
<script src="{{ STATIC_URL }}deck/extensions/menu/deck.menu.js"></script>
<script src="{{ STATIC_URL }}deck/extensions/goto/deck.goto.js"></script>
<script src="{{ STATIC_URL }}deck/extensions/status/deck.status.js"></script>
<script src="{{ STATIC_URL }}deck/extensions/navigation/deck.navigation.js"></script>
<script src="{{ STATIC_URL }}deck/extensions/hash/deck.hash.js"></script>

<!-- Specific to this page -->
<script src="{{ STATIC_URL }}js/presentation.js"></script>

</body>
</html>
