{% extends "index.html" %}

{% block slides %}
	{% for slide in slides %}
		<div class="slide" id="{{ slide.title }}">
			<h2>{{ slide.title }}</h2>
			{{ slide.content|safe }}
		</div>
	{% endfor %}
{% endblock %}



{% comment %}
{% extends "index.html" %}
<div class="slide" id="title-slide">
	<h1>Getting Started with deck.js</h1>
</div>

<div class="slide" id="how-to-overview">

</div>

<div class="slide" id="markup">
	<h2>The Markup</h2>
	<p>Slides are just HTML elements with a class of <code>slide</code>.</p>
	<pre><code>&lt;div class=&quot;slide&quot;&gt;
   &lt;h2&gt;How to Make a Deck&lt;/h2&gt;
   &lt;ol&gt;
      &lt;li&gt;
         &lt;h3&gt;Write Slides&lt;/h3&gt;
         &lt;p&gt;Slide content is simple HTML.&lt;/p&gt;
      &lt;/li&gt;
      &lt;li&gt;
         &lt;h3&gt;Choose Themes&lt;/h3&gt;
         &lt;p&gt;One for slide styles and one for deck transitions.&lt;/p&gt;
      &lt;/li&gt;
      &hellip;
   &lt;/ol&gt;
&lt;/div&gt;</code></pre>
</div>

<div class="slide" id="themes">

</div>

<div class="slide" id="extensions">

</div>

<div class="slide" id="nested">
	<h2>Nested Slides</h2>
	<p>That last slide had a few steps.  To create substeps in slides, just nest them:</p>
	<pre><code>&lt;div class=&quot;slide&quot;&gt;
  &lt;h2&gt;Extensions&lt;/h2&gt;
  &lt;p&gt;Core gives you basic slide functionality...&lt;/p&gt;		
  &lt;ul&gt;
     &lt;li class=&quot;slide&quot;&gt;
        &lt;h3&gt;deck.goto&lt;/h3&gt;
        &lt;p&gt;Adds a shortcut key to jump to any slide number...&lt;/p&gt;
     &lt;/li&gt;
     &lt;li class=&quot;slide&quot;&gt;...&lt;/li&gt;	
     &lt;li class=&quot;slide&quot;&gt;...&lt;/li&gt;
     &lt;li class=&quot;slide&quot;&gt;...&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
</div>

<div class="slide" id="elements-images">
	<h2>Other Elements: Images</h2>
	<img src="http://placekitten.com/600/375" alt="Kitties">
	<pre><code>&lt;img src=&quot;http://placekitten.com/600/375&quot; alt=&quot;Kitties&quot;&gt;</code></pre>
</div>

<div class="slide" id="elements-blockquotes">
	<h2>Other Elements: Blockquotes</h2>
	<blockquote cite="http://example.org">
		<p>Food is an important part of a balanced diet.</p>
		<p><cite>Fran Lebowitz</cite></p>
	</blockquote>
	<pre><code>&lt;blockquote cite=&quot;http://example.org&quot;&gt;
  &lt;p&gt;Food is an important part of a balanced diet.&lt;/p&gt;
  &lt;p&gt;&lt;cite&gt;Fran Lebowitz&lt;/cite&gt;&lt;/p&gt;
&lt;/blockquote&gt;</code></pre>
</div>


<div class="slide" id="elements-videos">
	<h2>Other Elements: Video Embeds</h2>
	<p>Embed videos from your favorite online video service or with an HTML5 video&nbsp;element.</p>
	
	<iframe src="http://player.vimeo.com/video/1063136?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
	
	<pre><code>&lt;iframe src=&quot;http://player.vimeo.com/video/1063136?title=0&amp;amp;byline=0&amp;amp;portrait=0&quot; width=&quot;400&quot; height=&quot;225&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;</code></pre>
</div>

<div class="slide" id="digging-deeper">
	<h2>Digging Deeper</h2>
	<p>If you want to learn about making your own themes, extending deck.js, and more, check out the&nbsp;<a href="../docs/">documentation</a>.</p>
</div>
{% endcomment %}